<div class="relative w-full">

  <!-- Version Mobile -->
  <section class="block md:hidden w-full bg-white">
    <div class="text-center px-4 pt-1 pb-2">
      <h1 class="text-green-600 text-base font-exo2 leading-snug">
        Protégez votre santé et celle de vos proches. <br>
        Inscrivez-vous dès aujourd'hui !
      </h1>
    </div>

    <div class="relative w-full">
      <img src="/assets/bgsm.png" alt="hero" class="w-full object-contain bg-white">
    </div>

    <div class="absolute top-3 left-3 mt-64 ml-2 bg-green-600 text-white px-3 py-2 rounded-md text-sm leading-tight shadow-md font-exo2">
      <button class="whitespace-nowrap block w-full text-left" (click)="scrollTo('why')">Pourquoi s'inscrire ?</button><br>
      <button class="whitespace-nowrap block w-full text-left" (click)="scrollTo('how')">Comment s'inscrire ?</button><br>
      <a href="https://sunucsu.sn/auth/create-account" class="block">
        <button class="whitespace-nowrap block w-full text-left">S’inscrire à la SEN-CSU</button>
      </a>
    </div>

    <div class="w-full px-4 mb-6 mt-24">
      <a href="https://sunucsu.sn/auth/create-account">
        <button class="w-full inline-block skew-x-[20deg] bg-gradient-to-r from-orange-500 to-yellow-500 animate-pulse hover:animate-none text-white font-play font-semibold py-3 rounded-md transition-transform duration-300 hover:scale-110">
          <div class="skew-x-[-20deg] text-center">Je m'inscris à la CSU</div>
        </button>
      </a>
    </div>
  </section>

  <!-- Version Desktop -->
<div class="hidden md:flex w-full pb-1">
  <!-- Cadre blanc arrondi avec border -->
  <div class="relative w-full border-t-[10px] 2xl:border-t-[20px] border-l-[40px] 2xl:border-l-[80px] border-r-[40px] 2xl:border-r-[80px] border-white flex flex-col bg-white">
    
    <!-- Background full -->
    <div class=" rounded-[20px] absolute  inset-0 bg-cover bg-center z-0 h-[calc(100vh-190px)]" style="background-image: url('/assets/bg.png');"></div>
    
    <!-- Contenu par-dessus le background -->
    <div class="mt-24 relative z-10 flex flex-col lg:flex-row items-center justify-between h-full w-full px-6 sm:px-10 lg:px-16 3xl:px-20 4xl:px-24">

      <!-- Texte -->
      <div class="flex flex-col items-center lg:items-start font-play text-center lg:text-left space-y-5 lg:space-y-7 w-full lg:w-1/2">
        <h1 class="text-white font-exo2 text-3xl sm:text-4xl lg:text-5xl font-semibold leading-tight drop-shadow-xl">
          Protégez votre santé et <br class="hidden sm:inline" />
          celle de vos proches. <br class="hidden lg:inline" />
          Inscrivez-vous dès <br class="hidden lg:inline" />
          aujourd’hui !
        </h1>

        <a href="https://sunucsu.sn/auth/create-account" class="inline-block skew-x-[20deg] bg-gradient-to-r from-orange-500 to-yellow-500 animate-pulse hover:animate-none text-white font-play text-lg sm:text-xl lg:text-2xl font-semibold px-6 sm:px-8 lg:px-10 py-3 sm:py-4 shadow-lg rounded-md cursor-pointer transition-transform duration-300 hover:scale-110">
          <div class="skew-x-[-20deg]">Je m'inscris à la CSU</div>
        </a>
      </div>

      <!-- BLOC VERT -->
      <div class="bg-green-600 bg-opacity-95 rounded-xl shadow-2xl p-5 sm:p-6 border border-green-500 w-full max-w-xs sm:max-w-sm lg:w-[260px] flex flex-col space-y-4 font-exo2 text-center lg:text-right mt-8 lg:mt-0">
        <button class="w-full bg-transparent text-white font-semibold py-3 rounded-lg hover:bg-green-300 hover:text-green-800 hover:scale-[1.03] transition-all duration-300 shadow-lg" (click)="scrollTo('why')">Pourquoi s’inscrire ?</button>

        <button class="w-full bg-transparent text-white font-semibold py-3 rounded-lg hover:bg-green-300 hover:text-green-800 hover:scale-[1.03] transition-all duration-300 shadow-lg" (click)="scrollTo('how')">Comment s’inscrire ?</button>

        <a href="https://sunucsu.sn/auth/create-account">
          <button class="w-full bg-white text-green-800 font-semibold py-3 rounded-lg hover:bg-green-100 hover:scale-[1.05] transition-all duration-300 shadow-xl">S’inscrire à la SEN-CSU</button>
        </a>
      </div>

    </div>
  </div>
</div>





<!-- ========================================= -->
<!--           SECTION — POURQUOI ?            -->
<!-- ========================================= -->
<section
  id="why"
  class="relative w-full bg-transparent overflow-hidden
         mt-24 2xl:mt-64">

  <div class="relative z-10 
              w-full
              max-w-7xl 
              3xl:max-w-[1600px]
              4xl:max-w-[1900px]
              5xl:max-w-[2300px]
              mx-auto px-6 py-10
              flex flex-col items-center justify-center
              3xl:py-48 4xl:py-56 5xl:py-64">

    <!-- TITRE PRINCIPAL -->
    <h2
      class="text-3xl sm:text-4xl lg:text-5xl font-extrabold text-green-700 text-center mb-16
             3xl:text-6xl 4xl:text-7xl 5xl:text-[8rem]
             3xl:mb-18 4xl:mb-26 5xl:mb-36  csu-title">
      Pourquoi s’inscrire ?
    </h2>
    <!-- GRID -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4
             gap-16
             3xl:gap-28 4xl:gap-32 5xl:gap-40
             w-full place-items-stretch">
      <!-- ITEM 1 -->
      <div class="flex flex-col items-center text-center cursor-pointer transition-transform
                  hover:-translate-y-2 hover:scale-105 h-full"
           (click)="onCardClick('acces')">
        <div class="w-full flex justify-center mb-4 mt-3">
          <img src="assets/ps1.png"
               class="w-56 sm:w-64 lg:w-72 xl:w-80
                      3xl:w-[28rem] 4xl:w-[30rem] 5xl:w-[32rem]
                      object-contain transition-transform" />
        </div>

        <h3 class="mt-6 font-bold text-green-700 text-xl sm:text-2xl lg:text-3xl
                   3xl:text-4xl 4xl:text-5xl 5xl:text-6xl font-sharetech min-h-[3rem]">
          Accès aux soins
        </h3>

        <p class="mt-3 text-gray-700 text-sm sm:text-base lg:text-lg
                  3xl:text-xl 4xl:text-2xl 5xl:text-3xl
                  max-w-xs 3xl:max-w-sm 4xl:max-w-md 5xl:max-w-lg font-sharetech min-h-[4rem]">
          Accès rapide dans tous les postes, centres de santé et hôpitaux du Sénégal.
        </p>
      </div>

      <!-- ITEM 2 -->
      <div class="flex flex-col items-center text-center cursor-pointer transition-transform
                  hover:-translate-y-2 hover:scale-105 h-full"
           (click)="onCardClick('prix')">
        <div class="w-full flex justify-center mb-4 mt-3">
          <img src="assets/ps2.png"
               class="w-56 sm:w-64 lg:w-72 xl:w-80
                      3xl:w-[28rem] 4xl:w-[30rem] 5xl:w-[32rem]
                      object-contain transition-transform" />
        </div>

        <h3 class="mt-6 font-bold text-green-700 text-xl sm:text-2xl lg:text-3xl
                   3xl:text-4xl 4xl:text-5xl 5xl:text-6xl font-sharetech min-h-[3rem]">
          Prix accessibles
        </h3>

        <p class="mt-3 text-gray-700 text-sm sm:text-base lg:text-lg
                  3xl:text-xl 4xl:text-2xl 5xl:text-3xl
                  max-w-xs 3xl:max-w-sm 4xl:max-w-md 5xl:max-w-lg font-sharetech min-h-[4rem]">
          Tarifs très bas et subventionnés pour tous.
        </p>
      </div>

      <!-- ITEM 3 -->
      <div class="flex flex-col items-center text-center cursor-pointer transition-transform
                  hover:-translate-y-2 hover:scale-105 h-full"
           (click)="onCardClick('demarches')">
        <div class="w-full flex justify-center mb-4 mt-3">
          <img src="assets/ps3.png"
               class="w-56 sm:w-64 lg:w-72 xl:w-80
                      3xl:w-[28rem] 4xl:w-[30rem] 5xl:w-[32rem]
                      object-contain transition-transform" />
        </div>

        <h3 class="mt-6 font-bold text-green-700 text-xl sm:text-2xl lg:text-3xl
                   3xl:text-4xl 4xl:text-5xl 5xl:text-6xl font-sharetech min-h-[3rem]">
          Démarches simples
        </h3>

        <p class="mt-3 text-gray-700 text-sm sm:text-base lg:text-lg
                  3xl:text-xl 4xl:text-2xl 5xl:text-3xl
                  max-w-xs 3xl:max-w-sm 4xl:max-w-md 5xl:max-w-lg font-sharetech min-h-[4rem]">
          Inscription claire, rapide et sans stress.
        </p>
      </div>
      <!-- ITEM 4 -->
      <div class="flex flex-col items-center text-center cursor-pointer transition-transform
                  hover:-translate-y-2 hover:scale-105 h-full"
           (click)="onCardClick('protection')">
        <div class="w-full flex justify-center mb-4 mt-3">
          <img src="assets/ps4.png"
               class="w-56 sm:w-64 lg:w-72 xl:w-80
                      3xl:w-[28rem] 4xl:w-[30rem] 5xl:w-[32rem]
                      object-contain transition-transform" />
        </div>
        <h3 class="mt-6 font-bold text-green-700 text-xl sm:text-2xl lg:text-3xl
                   3xl:text-4xl 4xl:text-5xl 5xl:text-6xl font-sharetech min-h-[3rem]">
          Protection prioritaire
        </h3>
        <p class="mt-3 text-gray-700 text-sm sm:text-base lg:text-lg
                  3xl:text-xl 4xl:text-2xl 5xl:text-3xl
                  max-w-xs 3xl:max-w-sm 4xl:max-w-md 5xl:max-w-lg font-sharetech min-h-[4rem]">
          Couverture pour enfants, personnes âgées et personnes vulnérables.
        </p>
      </div>
    </div>
  </div>

</section>

<!-- POPUP OVERLAY -->
<div *ngIf="showPopup"
     class="fixed inset-0 flex items-center justify-center z-[9999] p-6"
     (click)="onPopupClick($event)">

  <div class="cute-window-container 
              relative w-3/5 max-w-4xl bg-white/20 
              border-2 border-green-600 p-3 shadow-2xl font-sharetech"
       (click)="$event.stopPropagation()">

<!-- TOP BAR DEMI LARGEUR ALIGNÉE À GAUCHE 
<div class="cute-window-topbar">
  <span class="cute-dot red"></span>
  <span class="cute-dot yellow"></span>
  <span class="cute-dot green"></span>
</div>-->


    <!-- CLOSE BUTTON -->
    <button (click)="closePopup()"
            class="absolute top-3 right-3 text-white hover:text-gray-200 
                   text-3xl font-bold drop-shadow-lg font-sharetech">
      ✕
    </button>
    <!-- INNER CONTENT -->
    <div class="bg-green-600 rounded-sm p-10 max-h-[70vh] overflow-y-auto">

      <h2 class="text-3xl font-extrabold text-white text-center mb-8 font-sharetech">
        {{ popupTitle }}
      </h2>

      <div class="text-white text-lg leading-relaxed font-sharetech"
           [innerHTML]="popupText">
      </div>

    </div>
  </div>
</div>



<!-- ========================================= -->
<!--           SECTION — COMMENT ?             -->
<!-- ========================================= -->
<section id="how"
  class="w-full bg-white flex items-center py-8 lg:py-12">

  <div class="max-w-7xl 
              3xl:max-w-[1600px]
              4xl:max-w-[1900px]
              5xl:max-w-[2300px]
              mx-auto 
              grid grid-cols-1 lg:grid-cols-2 gap-16 
              px-6 w-full">

    <!-- TITRE MOBILE -->
    <h2 class="order-1 lg:order-none 
               text-3xl sm:text-4xl font-extrabold csu-title text-green-700 
               mb-6 lg:hidden text-center">
      Comment s’inscrire ?
    </h2>
<div class="order-2 lg:order-none flex justify-center items-center">

  <div class="relative 
              w-[85vw]
              max-w-[420px]
              aspect-[9/18]
              rounded-[40px]
              bg-black shadow-2xl 
              overflow-hidden mx-auto

              lg:w-[300px]
              lg:h-[600px]
              lg:rounded-[50px]

              4xl:w-[360px]
              4xl:h-[720px]
              4xl:rounded-[60px]">

    <!-- Cadre extérieur -->
    <div class="absolute inset-0 
                rounded-[40px] 
                lg:rounded-[50px] 
                4xl:rounded-[60px]
                border-4 border-gray-800 
                z-20 pointer-events-none"></div>

    <!-- Notch -->
    <div class="absolute top-0 left-1/2 -translate-x-1/2 
                w-28 lg:w-32 4xl:w-40 
                h-4 lg:h-6 4xl:h-7 
                bg-black rounded-b-2xl lg:rounded-b-3xl z-30"></div>

    <!-- Image temporaire -->
    <img 
      src="assets/tuto.png" 
      alt="iPhone preview" 
      class="w-full h-full object-cover 
             rounded-[36px] 
             lg:rounded-[45px] 
             4xl:rounded-[55px]">

    <!-- Vidéo (commentée pour plus tard) -->
    <!--
    <video 
      src="assets/videos/1.mp4"
      controls
      playsinline
      class="w-full h-full object-cover 
             rounded-[36px] 
             lg:rounded-[45px] 
             4xl:rounded-[55px]">
    </video>
    -->

  </div>
</div>

    <!-- ACCORDÉON -->
    <div class="order-3 lg:order-none flex flex-col justify-center">

      <!-- TITRE DESKTOP -->
      <h2 class="hidden lg:block 
                 text-4xl 3xl:text-5xl 4xl:text-6xl 
                 font-extrabold csu-title text-green-700 
                 mb-10">
        Comment s’inscrire ?
      </h2>

      <div class="space-y-5 w-full">

        <!-- ÉTAPE TEMPLATE -->
        <div class="border border-gray-200 rounded-lg overflow-hidden">
          <button class="w-full flex justify-between items-center 
                         p-5 text-left bg-white"
                  (click)="toggleAccordion(1)">
            <span class=" font-exo2 text-xl 3xl:text-2xl font-bold text-green-700">1. Créer un compte</span>
            <span class="text-2xl transition-transform"
                  [class.rotate-180]="accordionOpen === 1">⌄</span>
          </button>
<div class="p-5 font-exo2 3xl:text-lg" *ngIf="accordionOpen === 1">
   Créez votre compte sur 
  <a 
    href="https://sunuCsu.sn" 
    target="_blank" 
    class="text-gray-700 hover:text-green-700 underline transition"
  >
   SunuCsu.sn
  </a>
</div>

        </div>

        <!-- ÉTAPE 2 -->
        <div class="border border-gray-200 rounded-lg overflow-hidden">
          <button class="w-full flex justify-between items-center p-5 text-left bg-white"
                  (click)="toggleAccordion(2)">
            <span class="text-xl font-exo2 3xl:text-2xl font-bold text-green-700">2. Informations personnelles</span>
            <span class="text-2xl transition-transform"
                  [class.rotate-180]="accordionOpen === 2">⌄</span>
          </button>
          <div class="p-5 text-gray-700 3xl:text-lg" *ngIf="accordionOpen === 2">
            Renseignez votre profil (individu, entreprise ou groupement), 
            vos pièces d'identité et votre département.
          </div>
        </div>
        <!-- ÉTAPE 3 -->
        <div class="border border-gray-200 rounded-lg overflow-hidden">
          <button class="w-full flex justify-between items-center p-5 text-left bg-white"
                  (click)="toggleAccordion(3)">
            <span class="text-xl font-exo2 3xl:text-2xl font-bold text-green-700">3. Documents</span>
            <span class="text-2xl transition-transform"
                  [class.rotate-180]="accordionOpen === 3">⌄</span>
          </button>
          <div class="p-5 text-gray-700 3xl:text-lg" *ngIf="accordionOpen === 3">
            Téléversez vos documents requis.
          </div>
        </div>
        <!-- ÉTAPE 4 -->
        <div class="border border-gray-200 rounded-lg overflow-hidden">
          <button class="w-full flex justify-between items-center p-5 text-left bg-white"
                  (click)="toggleAccordion(4)">
            <span class="text-xl font-exo2 3xl:text-2xl font-bold text-green-700">4. Paiement</span>
            <span class="text-2xl transition-transform"
                  [class.rotate-180]="accordionOpen === 4">⌄</span>
          </button>
          <div class="p-5 text-gray-700 3xl:text-lg" *ngIf="accordionOpen === 4">
            Payez avec Wave, Orange Money, Free Money…
          </div>
        </div>
        <!-- ÉTAPE 5 -->
        <div class="border border-gray-200 rounded-lg overflow-hidden">
          <button class="w-full flex justify-between items-center p-5 text-left bg-white"
                  (click)="toggleAccordion(5)">
            <span class="text-xl font-exo2 3xl:text-2xl font-bold text-green-700">5. Vérification et Validation</span>
            <span class="text-2xl transition-transform"
                  [class.rotate-180]="accordionOpen === 5">⌄</span>
          </button>
          <div class="p-5 text-gray-700 3xl:text-lg" *ngIf="accordionOpen === 5">
            Vérifiez vos données puis validez votre souscription.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <app-actualites></app-actualites>
  <app-contact-form></app-contact-form>