/* organigramme.css */
::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
