.btn-admin {
  display: block;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: 500;
  color: #374151;
  transition: 0.2s;
}
.btn-admin:hover {
  background:#e8ffe9;
  color: #065f46;
}
.btn-admin.active {
  background:#059669;
  color: white;
}
