@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-slide-up {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-slide-up {
  animation: fade-slide-up 0.9s ease forwards;
}
